* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
}

.container-item {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ccc;
    padding: 20px;
}

.form_header {
    color: red;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
}

.form-item {
    margin-bottom: 15px;
}

.form-item label {
    display: block;
    margin-bottom: 5px;
}

.form-item input {
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
}

#btn_submit {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;

}

.charts-box {
    width: 100%;
    max-width: 600px;
    margin: 20px auto 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 3px solid red;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#btn_submit:hover {
    background-color: red;
}

.char-header {
    text-align: center;
    margin: 10px;
}

#btn_print {
    margin-top: 8px;
    padding: 8px 16px;
    background: #4CAF50;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
span {
    color: red;
}

#btn_delete{
    margin-left: 10px;
    padding: 8px 16px;
    background: #f44336;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#btn_update{
    margin-left: 10px;
    padding: 8px 16px;
    background: #4CAF50;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
